@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --blue-background: #27374D
}

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    
    background-color: var(--blue-background);
}

h1, h2 {
    margin: .5rem 0;
    
    text-align: center;
    
    color: white;
}

.form {
    width: 55%;
    
    padding: 2rem 1rem;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 1);
    border-radius: 10px;

    background-color: #EEE;
    transition: width 200ms ease-in-out;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-group > div[contenteditable], .input-primal-key-group > input {
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    border-radius: .75rem;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
    transition: box-shadow 200ms;
    background-color: white;
}

.input-group > div[contenteditable] {
    width: 75%;
    cursor: text;
    white-space: pre-wrap;
}

.input-group > div[contenteditable]:focus, .input-primal-key-group > input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.input-group > button {
    width: 10rem;

    padding: 1rem 2rem;
    border: none;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 1);
    border-radius: 1rem;

    background-color: var(--blue-background);
    color: white;

    font-size: 1rem;

    cursor: pointer;
    transition: transform 200ms, box-shadow 200ms;
}

.input-group > button:hover, .input-group > button:focus {
    outline: none;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.input-group p {
    padding: 0 2rem;
    text-align: center;
    font-weight: bold;
}

.input-primal-key-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input-primal-key-group ~ p {
    word-break: break-all;
}

.input-primal-key-group > input {
    width: 5rem;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .form {
        width: 65%;
    }
}

@media only screen and (max-width: 700px) {
    .form, .form > .input-group > input {
        width: 85%;
    }
}

[contenteditable="true"]:empty:not(:focus):before{
    content:attr(custom-placeholder);
    color:grey;
}