<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Algoritmo RSA</title>
    <link rel="shortcut icon" href="../cypherLock.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../styles/root.css" />
    <link rel="stylesheet" type="text/css" href="../styles/operations.css" />
    <script type="module" src="../scripts/decryptView.js"></script>
</head>
<body>
    <main>
        <!-- Decrypt -->
        <div class="operation-container">
            <h1>Descriptografar</h1>
            <div class="keys-input-group">
                <input id="keyP" maxlength="2" placeholder="Chave 1" />
                <input id="keyQ" maxlength="2" placeholder="Chave 2" />
            </div>
            <div class="input-group">
                <textarea id="toDecryptText" class="input-text" placeholder="Digite aqui o RSA a ser decodificado..."></textarea>
                <textarea id="decryptedText" class="result-text" title="Clique aqui para copiar!" placeholder="Aqui aparecerá o RSA decodificado" readonly></textarea>
            </div>
            <div class="container-buttons">
                <button id="decryptClearButton" class="operation-button clear-button"><span>Limpar</span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></button>
                <button id="decryptButton" class="operation-button"><span>Decodificar</span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg></button>
            </div>
        </div>
    </main>
</body>
</html>